div.bar
  div.navbar
    a.logoutB(href='/home')
      button#home.navBut(type='button') Home
    a.logoutB(href='/search')
      button#search.navBut(type='button') Search
    a.logoutB(href='/contribute' title="you must be a contributing user to access this page")
      button#contribute.navBut(type='button') Contribute
    a.logoutB(href='/profile')
      button#profile.navBut(type='button') Profile
    a.logoutB(href='/logout')
      button#logout.navBut(type='button') Log Out